# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# API keys

keys.py

# audio
*.mp3

# weights
*.pt
/models/cd_CKPT/
/models/cd_CKPT_II/
/models/cd_CKPT_III/
/models/cd_CKPT_IV/
/models/cd_CKPT_V/